@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<html>
<head>
    <title>
        <link href="bootstrap.css" rel="stylesheet" />
        <link href="style.css" rel="stylesheet" />
        <script src="bootstrap.js"></script>
    </title>


</head>
<body>
    hello layout

</body>

</html>